<!DOCTYPE html>
<html>
<head>
    <title>Consulta de Tickets de Autobús</title>
    <link rel="stylesheet" type="text/css" href="/Views/Home/User/HtmlUser/User.html">
</head>
<body>
    <h1>Consulta de Tickets de Autobús</h1>
    <div id="busInfo"></div>
    <div id="pagination" class="pagination"></div>
    <script src="/Views/Home/User/JavaUser/Usermodel.js"></script>
    <script src="/Views/Home/User/JavaUser/UserView.js"></script>
    <script src="/Views/Home/User/JavaUser/UserController.js"></script>
</body>
</html>
