
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Consulta de Tickets de Autobús</title>
    <link rel="stylesheet" type="text/css" href="~/Content/CSS/Non_U.css">
</head>
<body>
    <h1>Consulta de Tickets de Autobús</h1>
    <div id="busInfo"></div>
    <div id="pagination" class="pagination"></div>
    <script src="~/Scripts/Javascript/Non_U_Model.js"></script>
    <script src="~/Scripts/Javascript/Non_U_view.js"></script>
    <script src="~/Scripts/Javascript/Non_U_Controller.js"></script>
</body>
</html>
