
@{
    Layout = null;
}

<!DOCTYPE html>

<!DOCTYPE html>
<html>
<head>
    <title>Administrador de Consulta de Tickets de Autobús</title>
    <link rel="stylesheet" type="text/css" href="~/Content/CSS/Adminis.css">
</head>
<body>
    <h1>Administrador de Consulta de Tickets de Autobús</h1>
    <div id="busInfo"></div>
    <script src="~/Scripts/Javascript/AdminModel.js"></script>
    <script src="~/Scripts/Javascript/Adminview.js"></script>
    <script src="~/Scripts/Javascript/AdminController.js"></script>
</body>
</html>
