
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Despachador de Tickets de Autobús</title>
    <link rel="stylesheet" type="text/css" href="~/Content/CSS/Despachador.css">
</head>
<body>
    <h1>Despachador de Tickets de Autobús</h1>
    <div id="busInfo"></div>
    <div id="pagination" class="pagination"></div>
    <script src="~/Scripts/Javascript/Desp_model.js"></script>
    <script src="~/Scripts/Javascript/Desp_view.js"></script>
    <script src="~/Scripts/Javascript/Desp_controler.js"></script>
</body>
</html>

